img.upload-image{
    width: 50px;
    border: 10px solid red;
}

div.avatar-container{
    width: 100px;
    height: 100px;
    border-radius: 99999999px;
    background-color: red;
}

img.avatar-sm{
    width: 100px;
    height:100px;
    border-radius: 999999px;
}

div.spaceForHeader{
    height:108px;
}
/* Style container */
div.main-flex-container {
    display: flex;
    align-items: stretch;
  }
  
div.main-flex-container > div {
    margin: 10px;
  }


span#user-name,span#user-type{
    font-weight: bold;
}
/* Like button css */
button.like-btn{
    display: block;
	margin: 20px auto 20px;
    text-align: center;
    background: gray;
    border-radius: 3px;
    box-shadow: 0 5px 10px -4px gray;
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;  
}

button.like-btn:hover{
    background: rgb(172, 165, 165);;
    color: ffffff;
}
/* Dislike button css */
button.dislike-btn{
    display: block;
	margin: 20px auto 20px;
    text-align: center;
    background: #4b89c4;
    border-radius: 3px;
    box-shadow: 0 5px 10px -4px #4b89c4;
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
button.dislike-btn:hover{
    background: #1e609e;;
    color: ffffff;
}
/* Style fund post */
div.fund-post{
    border-bottom: 1px solid black;
    padding:20px 30px 10px 30px;
    margin: 20px 50px 50px 50px;
}

div.fund-post>.img-fund-post{
    width: 200px;
    height: 200px;
}

div.fund-post>.title-fund-post{
    font-weight: bold;
    font-size: large;
    color: #1256a0;
    cursor: pointer;
}

div.fund-post>.title-fund-post:hover{
    text-decoration: underline;
}

div.fund-post>.content-fund-post{
    width: 100%;
    height: 80px;
    white-space: pre-wrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

div.fund-post>.author-fund-post{
    color:#adb5bd;
    font-size: small;
}

div.fund-post>.author-fund-post>.author{
    font-weight: 700;
}

div.fund-post a{
    cursor: pointer;
}

div.fund-post a:hover{
    text-decoration: underline;
}

/* Notification */

.noti-container .badge{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    left:160px;
    border-radius: 50%;
    background-color: red;
    color: white;
}