.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-left {
    display: flex;
    margin-left: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid #E0E3EB;
    border-radius: 10px;
    margin: 5px;
}

.flex-column>div>div {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.body-main {
    margin-top: 100px;
    width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
}

.body-main>div {
    width: 500px;
}

.content-header {
    margin: 5px;
    font-size: 32px;
    color: #131722;
    fill: #131722;
    transition: color .35s ease;
    display: block;
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -.3px;
    -webkit-box-direction: normal;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.img-content>img {
    border: 1px solid #E0E3EB;
    border-radius: 5px;
    width: 440px;
    height: 254px;
}

.title1 {
    color: #131722;
    fill: #131722;
    display: inline-block;
    line-height: 28px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.2px;
    word-break: break-word;
    -webkit-box-direction: normal;
    font-family: Arial, sans-serif;
}

.title2 {
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 24px;
    color: #131722;
    transition: color .35s ease;
    -webkit-box-direction: normal;
    font-family: Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.content-idea {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 24px;
    max-height: 96px;
    font-size: 15px;
    color: #131722;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-box-direction: normal;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.hover:hover {
    cursor: pointer;
    background: #F0F3FA;
    color: ffffff;
}